<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="mongoBaseDir" value="F:\GitHub\hanleyChu\hoe\database"/>
    <add key="mongoConnectionStr" value="mongodb://10.16.98.122"/>
  </appSettings>
</configuration>
